:root {
  font-family: 'Markazi Text', 'apple garamond', baskerville, 'times new roman',
    'droid serif', times, 'source serif pro', serif;
  text-rendering: optimizeLegibility;
}

/* Force a scrollbar to avoid page/jumps */
html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

.emoji {
  font-family: 'Noto Emoji';
  vertical-align: middle;
}
